<header>
  <img class="header-logo" src="assets/logo.svg"/>
  <ul class="nav d-flex align-items-center justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="#about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#experiences">Experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#projects">Projects</a>
    </li>
    <li class="nav-item">
      <button class="btn btn-primary">Resume</button>
    </li>
  </ul>
</header>
